#header{
  position: absolute;
  width: 100%;
  top: 20px;
}
@media(max-width: 700px){
    #header{
      top: 0;
    }
}
i.fa-bars{
    font-size: 2.3rem;
    transition: 1s;
}
i.fa-bars:hover{
    font-size: 3rem;
    color: #fff;
}
.header-scrolled {
    background: var(--little-green);
    margin-top: 0;
    margin-bottom: 0;
    top: 0!important;
    height: 52px!important;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    transition: all 0.5s;
  }
.list-icon a {
  color: #fff;
  margin: 0 20px;
}
.list-icon{
  border: none!important;
}
.list-icon a:hover{
  color: #212529;
}
@media(max-width: 700px){
  .list-icon{
    display: none;
  }
}